.advantages__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.advantages__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $primary-color-text;
}
