.copyright {
  display: flex;
  gap: 120px;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.copyright__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color-text;
  text-align: center;
  align-self: center;
}
