.features__title {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-color-text;
}

.features__value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-color-text;
}

