
.inner-container__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.inner-container__description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}
