.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}


@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}


.main-nav__list {
  font-family: $primary-font;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 34px;
}

   @media (min-width: $desktop-width) {
    z-index: 1;
   }
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    color: $secondary-color-text;
   }
}

