.main-header__ {
  background-color: $bg-base-white;
  color: $base-color-text;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  height: 66px;
  position: relative;
  margin: 0 auto;
  
  
  @media (min-width: $tablet-width) {
    padding: 25px 30px 0 30px;  
    height: 75px;
} 

  @media (min-width: $desktop-width) {
    height: 116px;
    padding: 55px 110px 0 110px;
}

}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet-width) {
    width: 174px;
    gap: 13px;
} 
  @media (min-width: $desktop-width) {
    width: 202px;
    gap: 14px;
}

}





