.main-nav {
  font-family: $primary-font;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  position: relative;
  min-height: 66px;
  background-color: $bg-base-white;
}


@media (min-width: $tablet-width) {
  .main-nav__item--current {
   border-bottom: 2px solid $bg-green;
}
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 2;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 0;
  background-color: $bg-base-white;
 
  @media (min-width: $tablet-width) {
    display: none;
}
}


.main-nav__close::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-image: url("/icons/stack.svg#header_burger");
  background-color: $bg-base-white;
}



.main-nav__list {
  font-family: $primary-font;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 34px;
}

   @media (min-width: $desktop-width) {
    z-index: 1;
   }
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    color: $secondary-color-text;
   }
}

@media (min-width: $desktop-width) {
  .main-nav__link--inner {
    color: $base-color-text;
}
}
