.radio__list { 
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $tablet-width) {
    gap: 38px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .radio__item {
    height: 40px;
  }
}