.sub-products__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.sub-products__name {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.sub-products__value {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $primary-color-text;
}

.sub-products__cost {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: $primary-color-text;
}

.sub-products__gift {
  background-color: $bg-green;
}

.sub-products__label {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $secondary-color-text;
}

