.sub-products__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.sub-products__name {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.sub-products__value {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $primary-color-text;
}

.sub-products__cost {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: $primary-color-text;
}

.sub-products__gift {
  display: block;
  position: relative;
}

.sub-products__gift::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 280;
  height: 290;
  background-image: 
  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
  image-set(
    url("/images/mobile-catalog/background-catalog-mobile@2x.webp") type("image/webp") 2x,
    url("/images/mobile-catalog/background-catalog-mobile@1x.webp") type("image/webp") 1x,
    url("/images/mobile-catalog/background-catalog-mobile@2x.png") 2x,
    url("/images/mobile-catalog/background-catalog-mobile@1x.png") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub-products__gift::after {
  content: "";
  background-image: url("/icons/stack.svg#catalog-icons_gift");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
}

.sub-products__label {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $secondary-color-text;
}


