.subscription {
  font-family: $primary-font;
  background-color: $bg-base-white;
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 80px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 104px;
  }
}


.subscription__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 70px;
    margin-bottom: 72px;
  }
}

.subscription__title span {
  position: relative;
  background: white;
  padding: 0 40px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }
}

.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.subscription__form {
  align-self: center;

  @media (min-width: $tablet-width) {
    display: flex;
    
  }
}

.subscription__email {
  font-family: $primary-font;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding: 13px 13px;
  color: $primary-color-text;
  width: 280px;
  height: 56px;
  margin-bottom: 16px;
  border: 1px solid #CDCDCD;

  @media (min-width: $tablet-width) {
    width: 376px;
    height: 56px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

// Hover // 

.subscription__email:hover {
  border: 1px solid #CDCDCD;
  outline: none;
}

// Focused // 

.subscription__email:focus {
  border: 2px solid $primary-color-text;
  outline: none;
}

// Error //

.subscription__email::grammar-error {
  border: 2px solid #FF8282;
  outline: none;
}

.subscription__button {
  padding: 15px 82px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    width: 256px;
    max-height: 56px;
  }
}